body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0cd3bf;
}

canvas {
    border: 1px solid #f5eded;
}